package ${mainPath}.${package}.${moduleName}.service;
import com.baomidou.mybatisplus.service.IService;
import ${mainPath}.${package}.${moduleName}.model.${className};
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}> {



}