<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.seckill.dao.SuccessKilledMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.seckill.entity.SuccessKilled" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="seckillId" column="seckill_id"/>
        <result property="userId" column="user_id"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		            a.`id` AS "id", 
                    a.`user_id` AS "userId", 
                    a.`seckill_id` AS "seckillId",
                    a.`state` AS "state",
                    a.`create_time` AS "createTime"
            </sql>

</mapper>