package ${mainPath}.${package}.${moduleName}.service;
import com.hsshy.beam.web.base.service.ICommonService;
import ${mainPath}.${package}.${moduleName}.entity.${className};
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service extends ICommonService<${className}> {



}
