<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.work.dao.AreaMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.work.entity.Area" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="cityCode" column="city_code"/>
        <result property="status" column="status"/>
        <result property="cityId" column="city_id"/>
        <result property="provinceId" column="province_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
          a.`id` AS "id", 
        a.`code` AS "code", 
        a.`name` AS "name", 
        a.`city_code` AS "cityCode", 
        a.`status` AS "status", 
        a.`city_id` AS "cityId", 
        a.`province_id` AS "provinceId", 
        a.`create_time` AS "createTime", 
        a.`update_time` AS "updateTime"
    </sql>



</mapper>