<div th:fragment="left" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar-default navbar-static-side" role="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span ><img style="width: 80px;height: 80px;"  alt="image" class="img-circle" th:src="${shiroUser.getAvatar()}"  /></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs" th:text="${shiroUser.getName()}"><strong class="font-bold"></strong></span>
                                <span class="text-muted text-xs block" >超级管理员<b class="caret"></b></span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                            </li>
                            <li><a class="J_menuItem" href="profile.html">个人资料</a>
                            </li>
                            <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                            </li>
                            <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">H+
                    </div>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">系统管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/system/user/list" target="_blank">用户管理</a>
                        </li>
                    </ul>

                </li>


            </ul>
        </div>
    </nav>
</div>
