
@keyframes bounds-animation {
  0% {
    @include transform(scale(0.8));
  }

  50% {
    @include transform(scale(1.3));
  }

  100% {
    @include transform(scale(1.1));
  }
}


@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50% {
    -webkit-transform: translate3d(-10px, 0, 0) rotate(-40deg);
    transform: translate3d(-10px, 0, 0) rotate(-40deg);
  }

  20%,
  40%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0) rotate(40deg);
    transform: translate3d(10px, 0, 0) rotate(40deg);
  }
}
