
// common
$bg_color: #f6f6f6;
$common_space: 20px;
$common_space_v: 16px;


// 左侧导航条

  // sidebar              v
  $sidebar_width: 124px;

  // sidebar__logo        v
  $logo_wrap_height: 60px;
  $logo_size: 40px;

  // sidebar__container   v
  $bar_item_icon_size: 14px;
  $bar_item_height: 38px;
  $bar_item_padding_l: 0px;
  $bar_padding_h: 11px;
  $bar_padding_v: 6px;



// 顶部导航栏

  // header bar          v
  $header_bar_height: 60px;

  // icon wrap
  $header_icon_wrap_height: $header_bar_height;
  $header_icon_wrap_width:  50px;
  $header_icon_size: 30px;

  // user wrap
  $header_user_wrap_padding: 20px;

// 首页面版

$box_space: 12px;
$function_icon_height: 86px;
$function_icon_size: 46px;

$common_bottom_space: 40px;
$common_title_padding_v: 16px;

$marketing_item_height: 120px;
$marketing_item_icon_size: 40px;


// 基础组件

  // 图片上传

  $upload_photo_item_size: 100px;
